body{
    background-color: gray;
}

.login{
    background-color:  #fff !important;
    width: 390px;
    height: 400px;
    margin: 0 auto;
    border-radius: 15px;
    transition: all 0.5s;
    border: 2px solid rgb(211, 29, 29);
    box-shadow: 0 8px 19px blue;
    
}

button{
    margin: 20px;
}

.login h2{
    padding: 10px;
}

.login h5{
    margin: 10px;
}

.active{
    transform: translateY(80px);
}

.modal-y{
    transform: translateY(-480px);
}

input{
    width: 100%;
}
